<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agames.mathmart.arena" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MathMart Arena</name>
    <description>
        Competitive Math Learning Platform - Master mathematics, reasoning, and English through competitive challenges designed for banking and competitive exam preparation.
    </description>
    <author email="support@agames.com" href="https://agames.com">
        Agames Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- Modern splash screen configuration using preferences -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/android/icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#6366f1" />
        
        <!-- Simplified icon configuration - single adaptive icon -->
        <resource-file src="res/icon/android/icon.png" target="app/src/main/res/mipmap-hdpi/ic_launcher.png" />
        <resource-file src="res/icon/android/icon.png" target="app/src/main/res/mipmap-mdpi/ic_launcher.png" />
        <resource-file src="res/icon/android/icon.png" target="app/src/main/res/mipmap-xhdpi/ic_launcher.png" />
        <resource-file src="res/icon/android/icon.png" target="app/src/main/res/mipmap-xxhdpi/ic_launcher.png" />
        <resource-file src="res/icon/android/icon.png" target="app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" />
        
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#6366f1" />
    <preference name="StatusBarStyle" value="lightcontent" />
</widget>
